.primaryButton {
	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;
	font-size: 16px;
	text-align: left;
	background-color: var(--clr-green);
	letter-spacing: 1px;

	width: 180px;
	padding: 0.5em 0.8em;
	border: none;
	border-radius: 0.4em;

	position: absolute;
	left: var(--left-space);
	bottom: calc(25% - 100px);
	transition: all 0.5s ease-in;
}
.primaryButton[data-click='true'] {
	position: fixed;

	width: 60px;
	height: 60px;
	border-radius: 50%;
	bottom: calc(100vh - 98%);
	left: calc(100% - 90px);

	background-color: var(--clr-green);
}

.primaryButton .contact {
	position: absolute;
	visibility: hidden;
}
.primaryButton[data-click='true'] .contact {
	visibility: visible;
	transition: visibility 250ms ease-in;
	transition-delay: 250ms;
}

.primaryButton .content {
	visibility: visible;
	display: flex;
	align-items: center;
	width: 100%;
	transition: visibility 250ms ease-in;
	transition-delay: 400ms;
}
.primaryButton[data-click='true'] .content {
	visibility: hidden;
	position: absolute;
	transition: visibility 200ms ease-in;
}

.primaryButton[data-click='false']::after {
	content: '';
	position: absolute;
	border: 1px solid rgba(0, 0, 0, 0.25);
	width: 100%;
	height: 100%;
	border-radius: 0.4em;
	top: 0.3em;
	left: 0.3em;
	z-index: -1;
}

.primaryButton[data-click='false'] .arrow {
	margin-left: auto;
	margin-right: 0.3em;
	font-size: 30px;
	animation: arrow 2s linear infinite;
}

.primaryButton:hover,
.primaryButton:focus,
.primaryButton[data-click='true']:hover {
	background-color: rgb(var(--clr-purple));
}

@keyframes arrow {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(15px);
	}
	100% {
		transform: translateX(0);
	}
}

@media (min-width: 700px) {
	.primaryButton {
		width: 280px;
		font-size: 20px;
	}
	.primaryButton[data-click='false'] {
		left: 4rem;
	}
}
