.contacts {
	padding: 0 var(--body-spacing);

	height: 100vh;
	display: flex;
	flex-direction: column;
}
.contacts h1 {
	font-family: var(--ff-secondary);
	text-transform: uppercase;
	font-size: calc(clamp(3em, 5vw, 4.5em) * 0.85);
}
.contacts > div:nth-of-type(1) {
	padding-top: calc(var(--section-spacing) * 1.5);
	padding-bottom: calc(var(--section-spacing) / 2);
}
.contacts span {
	display: block;
	font-family: var(--ff-primary);
	font-size: calc(clamp(1.55em, 2.3vw, 2.5em) * 0.8);
}
.contactsContainer {
	display: flex;
}
/* contact details */
.contactsContent {
	width: 40%;
}

/* contact button */
.contactsContainer > a {
	width: 50%;
}
.contactsContainer a {
	align-self: flex-end;
	position: relative;
	display: grid;
	place-content: center;
	margin: 0 auto;
	border-radius: 50%;
	letter-spacing: 1px;
	cursor: pointer;
	color: #fff;
	background-color: #1c1c1c;
	font-size: calc(clamp(1.55em, 2.3vw, 2.5em) * 0.65);
	width: calc(clamp(1.55em, 2.3vw, 2.5em) * 5.5);
	height: calc(clamp(1.55em, 2.3vw, 2.5em) * 5.5);
	transition: transform 250ms ease-out;
}
/* button hover effect */
.contactsContainer a::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	z-index: -1;
	background-color: rgba(0, 0, 0, 0.05);
	opacity: 0;
	transition: opacity 250ms, transform 250ms ease-in-out;
}
.contactsContainer a:hover {
	transform: scale(1.1);
}
.contactsContainer a:hover::after,
.contactsContainer a:focus::after {
	opacity: 1;
	transform: scale(1.5);
}

.contactsContent > div:nth-of-type(1) {
	margin-bottom: 1.5em;
}

/* contact name */
.contactsContent > div span:nth-of-type(1) {
	padding-right: 2em;
	padding-bottom: 0.2em;
	width: min-content;
	border-bottom: 1px solid var(--clr-border-light);
}

/* contact info */
.contactsInfo {
	margin-top: 0.3em;
	opacity: 0.7;
}
@media (max-width: 400px) {
	.contactsContainer {
		flex-direction: column;
		gap: calc(var(--section-spacing) / 2);
	}
}
/* glowing effect */
.contacts h1 {
	position: relative;
	width: max-content;
	line-height: 1.2;
	overflow: hidden;
}
.contacts[data-toggle='true'] h1::before {
	content: '';
	position: absolute;
	height: 0.8em;
	width: 0.65em;
	background: #fff;
	box-shadow: 0 0 10px #fff;
	filter: blur(3px);
	opacity: 0.7;
	top: 0.1em;
	left: -2em;
	transform: rotate(30deg);
	animation: shine 500ms ease-in 1;
	animation-delay: 1s;
}

@keyframes shine {
	100% {
		left: 120%;
	}
}
