.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 85%;
	transform: translate(-50%, -50%);

	width: 150px;
	height: 150px;
	border: 0;
	border-radius: 37px;
	box-shadow: inset 18px 18px 30px rgba(195, 205, 221, 0.7),
		inset -18px -18px 30px #ffffff;
}
.play {
	width: 60px;
	height: 60px;
	transition: transform 0.5s ease;
}
.btn:hover .play {
	transform: rotateZ(360deg);
}

/* shadow bottom */
.btn:before {
	content: '';
	background-color: rgba(155, 153, 153, 0.4);
	position: absolute;
	top: 70%;
	width: 70px;
	height: 120%;
	border-radius: 50%;
	transform: rotateX(85deg);
	filter: blur(1em);
}

@media (max-width: 500px) {
	.circleContainer {
		right: 50%;
		top: 80%;
	}
}

@media (max-width: 800px) {
	.btn {
		left: 50%;
		top: 75%;
	}
}
