.home {
	position: relative;
	/* padding-left: var(--left-space); */
	color: white;
}

.content {
	max-width: 200px;
}
.content h1 {
	font-size: var(--fs-header);
	font-weight: 700;
	max-width: 670px;
	line-height: 1.1;
}
.content p {
	font-size: 14px;
	margin-block: 2rem;
	color: rgba(250, 250, 250, 0.5);
}
.contactBtn {
	text-transform: uppercase;
	font-weight: 700;
	color: black;
	padding: 0.8rem 2rem;
	border: 0;
	border-radius: 1rem;
	background-color: var(--clr-purple);
}
.circleContainer {
	position: absolute;
	max-width: 90vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.circle,
.eclipse {
	max-width: 90vw;
}
.eclipse {
	position: absolute;
	right: 0;
	animation: spin 2s linear 2;
	z-index: 20;
}

@keyframes spin {
	0% {
		transform: rotateZ(0deg);
	}
	25% {
		transform: rotateZ(90deg);
	}
	50% {
		transform: rotateZ(180deg);
	}
	75% {
		transform: rotateZ(270deg);
	}
	100% {
		transform: rotateZ(360deg);
	}
}
