.header {
	padding: 0 var(--body-spacing);
	position: absolute;
	top: 2rem;
	left: 0;
	right: 0;
	display: flex;
	z-index: 100;
}

/* numbering */
.header > span {
	font-weight: 400;
	font-size: 2em;
	line-height: 1;
	margin-right: 6rem;
}

/* name */
.header p {
	margin-left: auto;
}
.header p > span {
	display: block;
	font-size: 1.2rem;
	line-height: 1.1;
}
