.navHeader {
	display: flex;
	letter-spacing: 2.4px;
	text-transform: uppercase;
	align-items: center;
	justify-content: space-between;
	margin-top: 2rem;
}
.logo {
	flex-shrink: 0;
	width: 37px;
	height: 48px;
	order: -1;
	margin-left: 2rem;
}
.navlinks {
	display: flex;
	width: min-content;
	margin-left: auto;
	padding-inline: clamp(3rem, 7vw, 9rem);
	background-color: rgba(var(--clr-purple), 0.4);
	/* backdrop-filter: blur(1.5rem); */
}

.navlinks a {
	display: inline-block;
	padding-block: var(--underline, 1.8rem);
	border: none;
	border-bottom: 3px solid rgba(250, 250, 250, 0);
}
.navlinks a:hover,
.navlinks a:focus {
	border-color: #6e6e73;
}

/* line */
.navHeader::before {
	content: '';
	display: block;
	position: relative;
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #6e6e73;
	z-index: 20;
	transform: translateX(2.5rem);
}
@media (min-width: 700px) {
	.navlinks > * + * {
		margin-left: 2.315rem;
	}
	.menuButton {
		display: none;
	}
}
@media (max-width: 700px) {
	.navlinks {
		--underline: 1rem;
		flex-direction: column;
		position: fixed;
		inset: 0 0 0 100%;
		align-items: start;
		background-color: rgba(var(--clr-purple));
		z-index: 20;
		padding: 7rem 4rem;
		transform: translateX(100%);
		transition: transform 1s ease-in-out;
	}
	.navHeader::before {
		transform: translateX(0);
		margin-inline: 1rem;
	}
	.menuButton {
		cursor: pointer;
		margin-right: 1.4rem;
		border: 0;
		z-index: 100;
		background-color: transparent;
	}
	.logo {
		margin-left: 1.4rem;
	}
	.navlinks[data-open='true'] {
		transform: translateX(0);
	}
}
