.navLinksContainer {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	overflow: hidden;
}
.navbar li {
	overflow: hidden;
	transition: margin-left 150ms ease-out;
}
.navItem {
	position: relative;
	width: max-content;
	text-transform: uppercase;
	font-size: 1.2em;
	line-height: 1.2;
	letter-spacing: 1px;
	display: flex;
	align-items: center;
	padding-bottom: 0.2em;
}
.navItem::after {
	content: '';
	position: absolute;
	background-color: var(--clr-bg);
	height: 1px;
	width: 0;
	left: 0;
	bottom: 0;
	transition: width 150ms ease-in;
}

.navItem:hover::after,
.navItem:focus:after {
	width: 100%;
}

/* place li with active class on top of list */
.active {
	order: -1;
}

/* li with no active class hide by default*/
li:not(.active) {
	visibility: hidden;
	margin-left: -100%;
}
/* on hover show hidden li's */
.navLinksContainer:focus li,
.navLinksContainer[data-menu-state='true'] li {
	visibility: visible;
	margin-left: 0;
}

li:not(.active) .navItem {
	color: rgba(28, 28, 28, 0.8);
	font-size: 1em;
}

/* glowing effect */
.active[data-toggle='true'] .navItem::before {
	content: '';
	position: absolute;
	top: 0.1em;
	left: -2em;
	height: 0.8em;
	width: 0.65em;
	background: #fff;
	box-shadow: 0 0 10px #fff;
	filter: blur(3px);
	opacity: 0.7;
	transform: rotate(30deg);
	animation: shine 500ms ease-in 1;
	animation-delay: 1s;
}
@keyframes shine {
	100% {
		left: 120%;
	}
}

/* rigth facing arrow */
.active {
	position: relative;
	padding-right: 3em;
}
.active::after {
	content: url('assets/downArrow.svg');
	position: absolute;
	top: 0.2em;
	width: 0.8em;
	height: 0.8em;
	right: 0.5em;
	transform: rotateZ(-90deg);
	transition: transform 150ms ease-in;
}
.active:hover::after,
.navLinksContainer:hover .active::after {
	transform: rotateZ(0deg);
}
@media (max-width: 400px) {
	.active {
		padding-right: 2em;
	}
} ;
