/* Typography */
.projects {
	color: var(--clr-bg);
}

/* Layout */

.projects {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.projects > * {
	padding-bottom: 8rem;
}
.projects:first-child {
	padding-top: 15rem;
}
