.projects {
	width: 100%;
}
.card {
	width: 100%;

	display: flex;
	gap: 2rem;
	padding-top: 25%;
}
.image {
	width: calc(-17.5px + 60%);
	max-width: 800px;
	background-color: var(--clr-purple);
	aspect-ratio: 1.5;
	/* height: 30vw; */
	/* max-height: 400px; */
}
.info {
	/* width: 40%; */
}
