.contact {
	border-bottom: 1px solid var(--clr-border-light);
	margin-bottom: var(--section-spacing);
}

.contactsContainer span {
	font-size: clamp(1.55em, 2.3vw, 2.5em);
	display: flex;
	align-items: center;
	white-space: nowrap;
	font-family: var(--ff-primary);
	transition: transform 250ms ease-out;
	cursor: pointer;
}

.contactsContainer span::before {
	content: '';
	width: 15px;
	height: 15px;
	background-color: #1c1c1c;
	border-radius: 50%;
	margin: 0 2rem;
}
.subheader {
	font-size: calc(clamp(3em, 5vw, 4.5em) * 0.75);
	display: flex;
	align-items: center;
	white-space: nowrap;
	gap: 1rem;
}
.subheader::after {
	content: '';
	width: 100%;
	height: 1px;
	background-color: var(--clr-border-light);
}
.contactsContent1,
.contactsContent2 {
	display: flex;
	width: 100%;
}
.contactsContainer {
	width: fit-content;
	display: flex;
	padding-block: calc(var(--section-spacing) / 3);
}

.contactsContent1 {
	animation: slide 20s linear infinite;
	animation-delay: -20s;
}
.contactsContent2 {
	animation: slide2 20s linear infinite;
	animation-delay: -10s;
}
@keyframes slide {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}
@keyframes slide2 {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-200%);
	}
}
.contactsContainer:hover .contactsContent1,
.contactsContainer:hover .contactsContent2 {
	animation-play-state: paused;
}
.contactsContainer span:hover {
	color: rgba(28, 29, 32, 0.8);
	transform: scale(1.04);
}
