*,
*::after,
*::before {
	box-sizing: border-box;
	scroll-behavior: smooth !important;
}
:root {
	--clr-bg: #1c1c1c;
	--clr-green: #c7ecdf;
	--clr-purple: #dac4f7;

	--left-space: 10%;

	--fs-header: 34px;
}

@media (min-width: 700px) {
	:root {
		--fs-header: 64px;
	}
}

h1,
ul,
li,
p {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
body {
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	line-height: 1.6;
	/* background-color: #ebebeb; */
	/* background-image: url('assets/space.jpg');
	background-size: cover; */
	background: linear-gradient(115.11deg, #f4e9ea 10%, #e5f1fd 39.13%);
}
.App {
	position: relative;
	min-height: 100vh;
	width: 90vw;
	max-width: 1200px;
	margin: 0 auto;
}

/* navlinks active style */
li a.active {
	color: #ea98f7;
	transition: color 0.25s ease-out;
}
