*,
*::after,
*::before {
	box-sizing: border-box;
}
:root {
	--clr-bg: #1c1c1c;
	--clr-green: #c7ecdf;
	--clr-purple: #dac4f7;

	--body-spacing: 1rem;
	--fs-header: 38px;
}

@media (min-width: 800px) {
	:root {
		--body-spacing: 2rem;
		--fs-header: 54px;
		--max-width: 80%;
	}
}
@media (min-width: 900px) {
	:root {
		--fs-header: 64px;
	}
}
img {
	display: block;
	max-width: 100%;
	object-fit: cover;
}

h1,
h2,
h3,
ul,
li,
p {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
body {
	/* overflow: hidden; */
	margin: 0;
	padding: 0 var(--body-spacing);
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	line-height: 1.6;
	background: linear-gradient(
		113.87deg,
		rgba(244, 233, 234, 0.9) 3.23%,
		#e5f1fd 100%
	);
}
.App {
	position: relative;
	min-height: 100vh;
	/* width: 100%; */
	max-width: 1200px;
	margin: 0 auto;
}

/* navlinks active style */
li a.active {
	color: #ea98f7;
	transition: color 0.25s ease-out;
}
