*,
*::after,
*::before {
	box-sizing: border-box;
}
html {
	--clr-bg: #e8e8e8;
	--clr-green: #c7ecdf;
	--clr-purple: 218, 196, 247;
}
h1,
ul,
li {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	line-height: 1.6;
	background-color: var(--clr-bg);
}
li a.active {
	border-bottom: 3px solid black;
}
